@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@200&family=Noto+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}